univer_by_Kireev
Английский
exams
вряд ли пригодится, работы()
__pycache__
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
.Rhistory
Язык R. КР Итоговые Графики.pdf
2021 R КР Магазин1 Сбор данных, расчеты.pdf
2021 R КР Магазин2 Генерация данных.pdf
Язык R. КР Задания по генерации данных.pdf